@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html, body {
  height: 100%;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  margin: 0;
}
.wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.top, main, footer {
  margin: 0 auto;
  width: 45em;
  max-width: 100%;
  box-sizing: border-box;
}
.top {
  background-color: white;
  overflow: hidden;
}
header, nav {
  margin: 11px;
  margin-top: 2em;
}
main {
  padding: 33px;
}
footer {
  padding: 0.5em;
}
.bg-top {
  background-color: #fff;
}
.bg-main {
  background-color: #eff5f5;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: #3ab;
}
.bg-footer {
  background-color: #333;
}
footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #333;
  color: #eff5f5;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
}
footer a:link, footer a:visited {
  color: white;
}
header a:link, header a:visited {
  text-decoration: none;
  font-size: 1.125em;
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
  font-family: Roboto Slab, serif;
  padding-left: 22px;
  letter-spacing: 0.75px;
  display: block;
  min-height: 44px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 0.2em 0.2em 0;
  float: left;
  list-style: none;
  overflow: hidden;
}
nav a:link, nav a:visited {
  text-decoration: none;
  padding: 0.2em;
  color: #3ab;
  display: block;
  line-height: 44px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 3px;
  font-weight: normal;
  letter-spacing: 0.25px;
}
nav a:hover, nav a:focus {
  background-color: #ab3333;
  color: white;
}
nav a.current {
  color: #333;
  cursor: auto;
  pointer-events: none;
  font-weight: normal;
}
.clear-both {
  clear: both;
}
main {
  background-color: white;
  overflow: scroll;
  flex-grow: 1;
  font-size: 1em;
  line-height: 1.5em;
}
table {
  border-spacing: 1px;
  border-collapse: collapse;
  text-align: left;
  min-width: 512px;
}
main a {
  text-decoration: none;
  border-bottom: 1px solid #333;
  color: #333;
}
footer a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
td, th {
  padding: 0.75em;
}
td {
  border: 2px solid #3ab;
  background-color: white;
  vertical-align: top;
}
td ul {
  margin-bottom: 0;
}
tr:nth-child(even) td {
  background-color: #eff5f5;
}
th {
  border: 2px solid #3ab;
  background-color: #3ab;
  color: white;
  font-weight: normal;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.float-left {
  float: left;
  margin: 0.2em 0.2em 0.2em 0;
}
.float-right {
  float: right;
  margin: 0.2em 0 0.2em 0.2em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab, serif;
  color: #C1630B;
  line-height: 1.25em;
}
h2 {
  font-size: 1em;
}

/* Skip links (WCAG 2 SC 2.4.1)
 * Method based on https://www.jimthatcher.com/skipnav.htm, which was
 * linked to from https://www.w3.org/WAI/WCAG21/Techniques/general/G1,
 * with code originally from the website of the US Department of Veterans
 * Affairs. */
.skip-to-main a {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-to-main a:focus, .skip-to-main a:active {
  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
  text-decoration: underline;
  background-color: white;
}

