@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  margin: 0;
}

html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.top, main, footer {
  margin: 0 auto;
  width: 45em;
  max-width: 100%;
  box-sizing: border-box;
}

.top {
  background-color: white;
  overflow: hidden;
  border-width: 0 1px;
  border-style: solid;
  border-color: #E17308;
}

header, nav {
  margin: 0.5em;
}

main, footer {
  padding: 0.5em;
}

.bg-top {
  background-color: #ddd;
}

.bg-main {
  background-color: #ccc;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.bg-footer {
  background-color: #7A5D19;
}

footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #675316;
  color: white;
  border-width: 0 1px;
  border-style: solid;
  border-color: #F78F0E;
}

footer a:link, footer a:visited {
  color: white;
}

header a:link, header a:visited {
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.5em;
  color: #6D5917;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 0.2em 0.2em 0;
  float: left;
  list-style: none;
  overflow: hidden;
}

nav a:link, nav a:visited {
  text-decoration: none;
  padding: 0.2em;
  border: 1px solid #E17308;
  background-color: #FEB649;
  color: black;
  display: block;
}

nav a:hover, nav a:focus {
  background-color: #7A5D19;
  border: 1px solid black;
  color: white;
}

.clear-both {
  clear: both;
}

main {
  background-color: #FFFEDE;
  overflow: hidden;
  flex-grow: 1;
  border-width: 0 1px;
  border-style: solid;
  border-color: #DD6F07;
}

table {
  border-spacing: 1px;
  background-color: #BB620C;
  border-collapse: collapse;
}

td, th {
  padding: 0.2em;
}

td {
  border: 1px solid #7A5D19;
  background-color: white;
}

th {
  border: 1px solid #E6780B;
  background-color: #675316;
  color: white;
  font-weight: normal;
}

.float-left {
  float: left;
  margin: 0.2em 0.2em 0.2em 0;
}

.float-right {
  float: right;
  margin: 0.2em 0 0.2em 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab, serif;
  color: #C1630B;
}
